@{
    ViewData["Title"] = "Araba Detay";
}

@using ArabamiSatWeb.Helper_Codes
@using ArabamiSatWeb.Models.Araba
@model List<ArabamiSatWeb.Models.Araba.Araba>
@{
    string adSoyad = SessionHelper.GetAdSoyad();
    int kullaniciId = SessionHelper.GetKullaniciId();
    bool yoneticiMi = SessionHelper.GetYoneticiMi();
    @if (kullaniciId > 0)
    {
      
        foreach (Araba araba in Model)
        {

            <div class="container">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Marka</th>
                        <th scope="col">Model</th>
                        <th scope="col">Yıl</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Durum</th>
                        <th scope="col">Açıklama</th>
                        <th scope="col">Yorum</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    <tr>
                        <td width="120" height="100"><img src="@(araba.Fotograf)" height="120" width="200"></td>
                        <td>@araba.Marka.Ad</td>
                        <td>@araba.MarkaModel.Ad</td>
                        <td>@araba.Yil</td>
                        <td>@araba.Fiyat</td>
                        <td>@araba.DurumId</td>
                        <td>@araba.Aciklama</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="content-form">
                <h3>Bir yorum yapın</h3>
                <form>
                    <input type="text" placeholder="Eposta"/>
                    <textarea placeholder="Yorum"></textarea>
                    <input type ="submit" value="Gönder"/>
                </form>
            </div>

        }
    }
    else
    {
        <p>Lütfen Giriş Yapınız!</p>
    }

   


}