@{
    ViewData["Title"] = "Arabalarım";
}
@using ArabamiSatWeb.Models.Araba
@model List<ArabamiSatWeb.Models.Araba.Araba>

@{
    <div style="margin-bottom: 10px; text-align: right">
        <a class="btn btn-sm btn-success" asp-area="" asp-controller="Arabam" asp-action="Ekle" role="button">Yeni Ekle</a>
    </div>
    
    foreach (Araba araba in Model)
    {
        
        //<div class="row">
        //    <div class="col-md-4">
        //        <img src="@(araba.Fotograf)" style="max-width: 300px" />
        //    </div>
        //    <div class="col-md-8">
        //        <div class="row">
        //            <div class="col-md-6">
        //                <p>Marka</p>
        //                <p>@araba.Marka.Ad</p>
                        
        //            </div>      
        //            <div class="col-md-6">
        //                <p>Model</p>
        //                <p>@araba.MarkaModel.Ad</p>
        //            </div>
        //            <div class="col-md-6">
        //                <p>Fiyat</p>
        //                <p>@araba.Fiyat</p>
        //            </div>
        //            <div class="col-md-6">
        //                <p>Yıl</p>
        //                <p>@araba.Yil</p>
        //            </div>
        //            <a class="btn btn-sm btn-primary" href="/Arabam/Guncelle?id=@araba.Id" role="button">Güncelle</a>
        //            <a class="btn btn-sm btn-danger" href="/Arabam/Sil?id=@araba.Id" role="button">Sil</a>
                    
        //        </div>
        //    </div>
        //</div>
        
        //<br/>
        //<br/>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Marka</th>
                <th scope="col">Model</th>
                <th scope="col">Yıl</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Durum</th>
                <th scope="col">Açıklama</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            
                <td width="120" height="100"><img src="@(araba.Fotograf)" height="120" width="200"></td>
                <td>@araba.Marka.Ad</td>
                <td>@araba.MarkaModel.Ad</td>
                <td>@araba.Yil</td>
                <td>@araba.Fiyat</td>
                <td>@araba.DurumId</td>
                <td>@araba.Aciklama</td>
            </tr>
            </tbody>
            <tr >
                <a class="btn btn-sm btn-primary" href="/Arabam/Guncelle?id=@araba.Id" role="button">Güncelle</a>
                <a class="btn btn-sm btn-danger" href="/Arabam/Sil?id=@araba.Id" role="button">Sil</a>
            </tr>
        </table>
        
        
                    
        

    
    }
    
}