@using ArabamiSatWeb.Models.Kullanici
@model List<ArabamiSatWeb.Models.Kullanici.Kullanici>
@{
    ViewData["Title"] = "Kullanıcı Listesi";
} 

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>E-Posta</th>
            <th>Kullanıcı Doğrulandı Mı?</th>
            <th>Yönetici Mi?</th>
            <th>Eklenme Tarihi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Kullanici kullanici in Model)
        {
            <tr>
                <td>@kullanici.Id</td>
                <td>@kullanici.Ad</td>
                <td>@kullanici.Soyad</td>
                <td>@kullanici.Eposta</td>
                <td>@(kullanici.DogrulandiMi ? "Evet" : "Hayır")</td>
                <td>@(kullanici.YoneticiMi ? "Evet" : "Hayır")</td>
                <td>@kullanici.EklenmeTarihi</td>
                @if (kullanici.YoneticiMi)
                {
                    <td><a href="#" class="btn btn-sm btn-danger" style="background-color: rgba(90, 15, 20, 0.76) !important;cursor: not-allowed" title="Yönetici için silme işlemi yapılamaz">Sil</a></td>
                }
                else
                {
                    <td><a href="/Kullanici/Sil/@kullanici.Id" class="btn btn-sm btn-danger">Sil</a></td>
                }
               
            </tr>
        }
    </tbody>
</table>
